# Terraform state ignoring
*.tfstate
*.tfstate*

# Terraform provider
**/.terraform/

# Box files ignoring
*.box

# Vagrant ignoring
.vagrant

# tfvars
*.tfvars

# ansible password skip
pass

# ansible inventory
inventory.yml